<div class="questions-list">
  <% unless questions.blank? %>
    <% questions.each do |question| %>
        <%= render question, remote: false, show_full_question: false %>
      <% end %>
  <% else %>
    <h4> No questions</h4>
  <% end %>
</div>
