<div class="w3-container comment"><br>
    <%= form_tag comments_path(commentable_type: commentable.class.to_s, commentable_id: commentable.id),
                 id: "#{commentable.class.to_s.downcase}-#{commentable.id}-new-comment", method: :post,
                 class:"mdl-textfield mdl-js-textfield", remote: true do %>

      <div class="form-group">
        <%= text_area_tag :comment_text, nil, placeholder: 'Enter a response', class: 'form-control mdl-textfield__input comment-form-text' %>
      </div>

      <%= button_tag(type: 'submit', class: "btn btn-raised btn-primary w3-margin-bottom w3-right") do %>
          Respond <i class="fa fa-comment"></i>
      <% end %>
    <% end %>
</div>




