<h1>Question Search</h1>

<%= form_for search_path, method: :get do |f| %>
    <div class="form-group">
      <%= f.label "Search for", class: "control-label col-sm-2 search-label" %>
      <div class="col-sm-10">
        <%= text_field_tag :q, params[:q], class:"form-control" %>
        <span class="help-block">This is a hint</span>
      </div>
    </div>
<% end %>


<%= render 'questions/question_list', questions: @questions %>
