<%= link_to label_path(label) do %>
  <div class="col-md-2 well well-lg label-box">
    <span class="label-name">
      <%= label.name.titlecase %>
    </span>

    <div class=" label-counts">
      <%= pluralize(label.questions_count, 'Question')%>
    </div>
  </div>
<% end %>