<h4>Notifications</h4>
<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>Time</th>
    <th>Notification</th>
  </tr>
  </thead>
  <tbody>
  <% @activities.each do |activity| %>
    <tr>
      <td><%= time_ago_in_words(activity.created_at)%> ago</td>
      <td><%= render "shared/notification_helper", activity: activity %></td>
    </tr>
  <% end %>
</table>
