<p id="notice"><%= notice %></p>

<h1 class="title">Questions</h1>


<%= render 'questions/form', question: @new_question, type: "create" %>

<%= render 'questions/question_list', questions: @questions %>


