// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  margin-top: 0;
  margin-bottom: 0px;
  .content {
    border: 1px solid $border-color;
    margin-left: 75px;
    margin-right: 15px;
    padding: 5px 15px;
    .text {
      font-size: $default-font-size;
    }
  }
  textarea {
    width: 100%;
    height: auto;
  }
  .comment-text {
    margin: 14px;
  }
  .created-at {
    margin-left: 75px;
  }
  .comment-settings {
    right: 2vw;
    position: absolute;

  }
}
