@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  padding-top: 100px;
  background : $bg-color;
  font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  border          : none;
  background-color: $navbar-color;
}

.navbar-brand {
  font-weight: 600;
}

.navbar-brand,
.navbar-default .navbar-nav > li > a {
  font-family: 'Montserrat';
  color      : white !important;

}

.alert-fixed {
  position   : fixed;
  top        : 0;
  left       : 0;
  margin-left: 32%;
  margin-top : 30px;
  width      : 450px;
  z-index    : 10000;
  text-align : center;
  padding    : 5px 25px;
}

